@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500|Roboto+Mono';
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%, ;
    width: 100%;
}

body {
    border: 1px solid #e5e5e5;
    background: linear-gradient(90deg, #5fce80 0%,#309dcf 100%);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.card {
    height: auto;
    width: 80%;
    min-width: 802px;
    background: #fff;
    box-shadow: 0 2px 5px -5px;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
    box-shadow: 0 10px 38px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.22);
    margin-bottom: 30px;
    padding-bottom: 20px;
}

table {
    width: 100%;
    margin-top: 15px;
}

th {
    cursor: pointer;
}

th,
tr,
td,
h2 {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    padding: 12px 20px;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 20px 5px;
    color: #404040;
}

th {
    font-size: 12px;
    font-weight: 500;
    color: #757575;
}

td {
    font-size: 13px;
    font-weight: 400;
    color: #292929;
    border-top: 1px solid #d8d8d8;
    border-collapse: collapse;
    text-align: center;
    max-width: 300px;
    word-wrap: break-word;
}

td a {
    text-decoration: none;
    color: #2980b9;
    transition: 100ms all ease-in-out;
}

td a:hover {
    color: #55a5d9;
}

tr:not(#header) {
    transition: 200ms all ease-in-out;
}

tr:not(#header):hover {
    background: #eeeeee;
}

.state-successful {
    color: #66bb6a;
}

.state-failed {
    color: #f44336;
}

.dialog-shadow {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}

.dialog {
    width: 80vw;
    height: 80vh;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px;
    padding-bottom: 90px;
}

.dialog .content {
    background-color: #1D1F20;
    height: 100%;
    overflow-y: scroll;
    color: #eeeeee;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
    margin: 15px;
}

a {
    color: #2196F3;
    cursor: pointer;
}

.remove-task {
    color: #616161;
    cursor: pointer;
}

.toast>.toast-message {
    font-family: 'Roboto';
}

#tspTable thead input[type='search'] {
    width: 100%;
    height: 30px;
}

.logo {
    height: 160px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.card header {
    background: linear-gradient(135deg, #5fce80 0%, #309dcf 100%);
    height: 180px;
    margin-bottom: 60px;
}