Source: tsp-web
Section: misc
Priority: optional
Maintainer: Eric Keller <eric.keller.ek1@roche.com>
Build-Depends: debhelper (>=9), npm, nodejs, task-spooler
Standards-Version: 3.9.7
#Homepage: <insert the upstream URL, if relevant>
Vcs-Git: ssh://git@github.com:BrunnerLivio/tsp-web.git
Vcs-Browser: https://github.com/BrunnerLivio/tsp-web

Package: tsp-web
Architecture: all
Depends: ${misc:Depends}${dist:Depends}, task-spooler, nodejs, incron
Description: task-spooler web monitor
 List all the task-spooler tasks in a nice web interface.
 Grab the stdout/stderr buffer of the command.
 Display command return code in the appropriate color.
